body{
    font-family: Poppins;
}

/*--------SECCION HEADER-------*/
header{
    height: 100vh;
    background-color: rgb(164, 237, 164);
    background: url(escuela_fachada.jpg);
    text-align: center;
    background-size: cover;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#menu ul{
    display: flex;
}
#menu li{
    margin: 0 15px;
}
header img{
    height: 120px;
    opacity: 80%;
}
#titular{
    text-align: center;
    margin-top: 40vp;
    color: aliceblue;
}
#titular h1{
    font-size: 70px;
    text-shadow: 2px 0 0 black;
}
#titular p{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 0 0 black;
}
#titular a{
    background: rgb(30, 154, 8);
    color: rgb(247, 244, 244);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

/*--------SECCION MENU-------*/
nav{
    height: 150px;
}
nav ul li{
    text-decoration: none;
    list-style: none;
}
nav ul li a{
    color: blanchedalmond;
    text-decoration: none;
    text-shadow: 2px 3px 5px black;
    font-weight: bold;
}
nav ul li a:hover{
    font-size: 17px;
}
/*----------LO ULTIMO---------------*/
.tarjeta{
    text-align: center;
    box-shadow: 5px 7px 3px rgb(173, 166, 166);
    width: 25%;
    margin: 15px;
    margin-top: -80px;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.tarjeta img{
    height: 150px;
}
.tarjeta a{
    color: black;
    font-weight: bold;
}
#contenedor-tarjetas{
    display: flex;
    justify-content: center;
}
/*--------SECCION NOVEDADES--------*/
#novedades{
    text-align: center;
    height: 630px;
    background-color: rgb(105, 162, 243);
}
#novedades img{
    height: 200px;
    margin: 0px;
}
#novedades h3{
    padding-top: 200px;
}

/*-------SECCION DONDE ESTAMOS---------*/
#donde{
    height: 650px;
    background-color: rgb(245, 239, 228);
    text-align: center;
}
#donde h2{
    padding-top: 200px;
}

/*--------SECCION TALLERES--------*/
#talleres{
    height: 550px;
}
table{
    table-layout: fixed;
    width: 100%;
    /*border-collapse: collapse;*/
    border: 3px solid;
    background-color: antiquewhite;
}
th, td{
    padding: 20px;
    text-align: center;
}
.gris{
    background-color: rgb(168, 162, 162);
}
.blanco{
    background-color: aliceblue;
}

#hs-atencion{
    padding-top: 50px;
    text-align: center;
    height: 600px;
}

/**********GALERIA*********/
#galeria-fotos{
    display: flex;
}
/*--------FOOTER---------*/
footer{
    background-color: rgb(131, 127, 127);
    height: 300px;
    color: rgb(236, 240, 244);
    /*padding-left: 600px;*/
}
footer div{
    padding-top: 50px;
    margin-left: 600px;
}
